{% extends './base.html' %}

{% block title %} Editar Bibliotecarios {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/view_librarian.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
{% endblock %}

{% block body %}
<main id="main">
    <aside class="side_menu"  id="menu_side">
        <div class="brand_div">
            <img src="{{url_for('static', filename='img/top_img_brand.jpeg')}}" alt="" class="d-block">
            <h4>INACAP</h4>
        </div>
        <div class="content_aside">
            <ul class="list_content">
                <li class="option">
                    <a href="/admin_panel" class="option_link selected">
                        <i class="fa-solid fa-house-user" title="Inicio"></i>
                        <h4>Menú principal</h4>
                    </a>
                </li>
                <li class="option">
                    <a href="/add_librarian" class="option_link">
                        <i class="fa-solid fa-user-plus" title="Agregar Bibliotecarios"></i>
                        <h4>Agregar Bibliotecarios</h4>
                    </a>
                </li>
                <li class="option">
                    <a href="/view_edit_librarians" class="option_link">
                        <i class="fa-solid fa-user-pen" title="Editar Bibliotecarios"></i>
                        <h4>Editar Bibliotecarios</h4>
                    </a>
                </li>
                <li class="option">
                    <a href="/view_delete_librarians" class="option_link">
                        <i class="fa-solid fa-user-minus" title="Eliminar Bibliotecarios"></i>
                        <h4>Eliminar Bibliotecarios</h4>
                    </a>
                </li>
                <li class="option">
                    <a href="/view_librarian" class="option_link">
                        <i class="fa-solid fa-users-viewfinder" title="Visualizar Bibliotecarios"></i>
                        <h4>Visualizar Bibliotecarios</h4>
                    </a>
                </li>

                <li class="option"><a href="{{ url_for('logout')}}" class="option_link">
                    <i class="fa-solid fa-arrow-right-to-bracket" title="Cerrar sesión"></i>
                    Cerrar sesión
                </a></li>
            </ul>
        </div>
    </aside>
    <section id="content">
        <header>
            <div class="icon_menu" id="btn_open">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="sayhello">
                <h5 class="sayhello_text">Bienvenido: {{ current_user.fullname }}</h5>
                <p class="rol_user">Administrador</p>
            </div>
        </header>
        <section id="content_data">
            <h1 class="title">Todos los bibliotecarios</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Rut</th>
                        <th>Nombre de Usuario</th>
                        <th>Nombre completo</th>
                        <th>Correo electrónico</th>
                        <th>Creado por</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for librarian in librarians %}

                    <tr>
                        <td>{{librarian[0]}}</td>
                        <td>{{librarian[2]}}</td>
                        <td>{{librarian[3]}}</td>
                        <td>{{librarian[4]}}</td>
                        <td>{{librarian[5]}}</td>
                        <td>
                            <form action="{{url_for('delete_librarian', id = librarian[0])}}" method="POST">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="hidden" name="id" value="{{librarian[0]}}">
                                <button class="btn btn-outline-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </section>
    </section>
</main>

{% endblock %}

{% block customJS %}
<script src="{{url_for('static', filename='js/navbar.js')}}"></script>
{% endblock %}